<h1>MESSAGES</h1>

<input type="text"
 ng-model="body" placeholder='message'><br>
 <input type="text"
 ng-model="author" placeholder='author'><br>
 <input type="text"
 ng-model="topic" placeholder='topic'><br>
 <input type="submit"
 ng-click='createMessage()'>
 <h2>Message: {{postedMessage.body}}</h2><br>
 <h2>Author: {{postedMessage.author_id}}</h2><br>
 <h2>Topic: {{postedMessage.topic_id}}</h2>


<div ng-repeat="message in messages">
  <h2>Message: </h2> <p>{{message.body}}</p>
  <h2>Author: </h2>  <p>{{message.author_id}}</p>
  <h2>Topic: </h2> <p>{{message.topic_id}}</p>
</div>






<input type="text"
 ng-model="id" placeholder="Topic ID"><br>
 <input type="submit"
 ng-click='findMessageByTopicId()'>

 <div ng-repeat="messageSearch in messageByTopic">
 {{messageSearch.body}}
 </div>
